.dry_scaffold
  .dry_scaffold_header
  .edit#rider

    - form_for @rider, :id => @rider, :html => { :multipart => true } do |f|
      .dry_scaffold
        %fieldset
          = render :partial => 'form'
          = submit_tag 'Update'
    
    
    = link_to 'Show', :action => 'show', :id => @rider
    \|
    = link_to 'Back', :action => 'list'
