%span
  .map#map_canvas{:width => 300, :height => 200}

%script{:type => "text/javascript", :src => "/riders.json"}
%h1 I Ride To Work

%div
  - for rider in @riders
    %span[rider]
      %a{:href => rider_path(:id=> rider)}
        =rider.login
%br
= link_to 'Signup', new_rider_path